<% layout("/layout/boilerplate") %>

    <div class="row mt-3">
        <h1 class="col-6 offset-3">SignUp for Wanderlust </h1>
        <div class="col-6 offset-3">
            <form method="POST" action="/signup" class="needs-validation" novalidate>
                <div class="mb-3 ">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username"   name="username" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3 ">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" id="email"   name="email" class="form-control" required>
                    <div class="valid-feedback">
                       Valid email
                    </div>
                </div>

                <div class="mb-3 ">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password"   name="password" class="form-control" required>
                    <div class="valid-feedback">
                        Enter password
                    </div>
                </div>

                <button class="btn btn-success">Sign up</button>

            </form>
        </div>
    </div>